!!!
%html
  %head
  %body
    %h1 Rubyhub.com.ua
    %p
      Сайт законсервирован, потому что нет времени его развивать.
    %p
      Твиттер-бот
      =link_to '@rubyhub', 'https://twitter.com/rubyhub'
      будет продолжать работать в обозримом будущем.
    %p
    %p
      Вопросы и предложения шлите на 
      =mail_to 'leonid@shevtsov.me', 'leonid@shevtsov.me'
