.column
  %h2 Twitter
  =semantic_form_for TwitterAccount.new do |f|
    =f.inputs do
      =f.input :name, :label => 'Аккаунт'
    =f.buttons do
      =f.commit_button 'Добавить'
  %ul
    -@tweets.each do |tweet|
      %li
        =image_tag tweet.account.avatar_url
        =link_to tweet.account.name, "http://twitter.com/#{tweet.account.name}"
        =tweet.text
.column
  %h2 Блоги
.column
  %h2 Вакансии
