=javascript_tag "var cities=#{City.for_map.to_json};"
#map

.column
  .column-insides
    %h2 Twitter
    %ul
      -@tweets.each do |tweet|
        %li.tweet
          =link_to image_tag(tweet.account.avatar_url, :class => 'avatar', :size => '48x48'), tweet.account.url
          .text
            =link_to tweet.account.name, tweet.account.url, :target => :blank, :class => :author
            =auto_link tweet.text, :html => {:target => :blank}
          .time
            =l(tweet.published_at, :format => :long)
            =link_to '#', tweet.url, :target => :blank
          .clear
.column
  .column-insides
    %h2 Блоги
    %ul
      -@blog_posts.each do |blog_post|
        %li.blog_post
          =link_to blog_post.url do
            =image_tag blog_post.blog.favicon_url, :size => '16x16', :class => 'favicon'
            =blog_post.title
          .details
            =blog_post.blog.title+','
            =l blog_post.published_at, :format => :long
          .clear
.column
  .column-insides
    %h2 Вакансии
    %ul
      -@job_offers.each do |job_offer|
        %li.job_offer
          .title
            =link_to job_offer.title, job_offer.url
            -unless job_offer.salary.blank?
              \&mdash;
              =job_offer.salary
          .text=job_offer.text
          .time=l job_offer.published_on, :format => :long
    .jooble
      Вакансии предоставлены 
      =link_to image_tag('jooble.png', :alt => 'Jooble'), 'http://jooble.com.ua', :target => :blank
