#edit_form
  %h2 Редактирование профиля

  %p Все поля - необязательные!

  =semantic_form_for @user, :url => user_url do |f|
    =f.inputs do
      =f.input :name, :hint => t('activerecord.attributes.user.name_hint')
      =f.input :email, :hint => t('activerecord.attributes.user.email_hint')
      =f.input :city, :hint => t('activerecord.attributes.user.city_hint')
    =f.buttons do
      =f.commit_button 'Сохранить'
      или 
      =link_to 'отменить', root_url

  %h2=Twitter
  
  %p
    -if @user.twitter_account
      =link_to '@'+@user.twitter_account.name, @user.twitter_account.url, :target => :blank
      -if @user.twitter_account.status==:active
        %em Показывается в "Пульсе"
      -else
        %em На проверке
    -else
      =link_to 'Добавить', '/auth/twitter'

  %h2 Добавить блог
  =semantic_form_for Blog.new do |f|
    =f.inputs do
      =f.input :rss, :label => 'RSS блога'
    =f.buttons do
      =f.commit_button 'Добавить'
