#edit_form
  %h2 Редактирование профиля

  %p Все поля &mdash; необязательные!

  =semantic_form_for @user, :url => user_url do |f|

    =f.inputs do
      =f.input :name, :hint => t('activerecord.attributes.user.name_hint')
      =f.input :email, :hint => t('activerecord.attributes.user.email_hint')
      =f.input :city, :hint => t('activerecord.attributes.user.city_hint')
      =f.input :url, :hint => t('activerecord.attributes.user.url_hint')
    =f.buttons do
      =f.commit_button 'Сохранить'
      или 
      =link_to 'отменить', root_url

  %h2 Учетные записи на других сайтах
  
  %dl
    %dt Twitter
    %dd
      -if @user.twitter_account
        =link_to '@'+@user.twitter_account.name, @user.twitter_account.url, :target => :blank
      -else
        =link_to 'Добавить', '/auth/twitter'
    %dt GitHub
    %dd
      -if @user.github_account
        =link_to @user.github_account.name, @user.github_account.url, :target => :blank
      -else
        =link_to 'Добавить', '/auth/github'
