%h2 Карта

%p Серые точки: города, в которых пока нет рубистов. Рубиновые круги: города, в которых они есть.

-if current_user
  -if current_user.city.blank?
    %p 
      Если твой город серый &mdash; пора зайти в
      =link_to 'профиль', edit_user_path
      и заполнить поле "Город".
-else
  %p Если твой город серый &mdash; очевидно, пока никто не заполнил анкету.

=javascript_tag "var cities=#{@cities.to_json};"

#map
