%h2#thanks Спасибо за заполненную анкету!

-if @new_user
  %p 
    Чтобы изменить эти данные в будущем, советую авторизоваться посредством
    =link_to(image_tag('providers/open_id.png', :alt=>'OpenID', :size => '16x16'), '/auth/open_id', :title => 'Войти по OpenID')+', '+ |
      link_to(image_tag('providers/google.png', :alt=>'Google', :size => '16x16'), '/auth/google', :title => 'Войти учетной записью Google')+', '+ |
      link_to(image_tag('providers/twitter.png', :alt=>'Twitter', :size => '16x16'), '/auth/twitter', :title => 'Войти учетной записью Twitter')+', '+ |
      link_to(image_tag('providers/github.png', :alt=>'GitHub', :size => '16x16'), '/auth/github', :title => 'Войти учетной записью GitHub')+', или '+ |
      link_to(image_tag('providers/linked_in.png', :alt=>'LinkedIn', :size => '16x16'), '/auth/linked_in', :title => 'Войти учетной записью LinkedIn')+'.' |
  %p
    Кроме этого, можно зайти на страницу
    =link_to 'профиля', edit_user_url
    и указать свои профили на Twitter, GitHub и LinkedIn.
