#user_box {
  position: absolute;
  left: 0;
  top: 0;

  padding: 6px;
  background-color: #e0e0e0;

  @include border-bottom-right-radius(10px);
  @include box-shadow(#777);

  ul li {
    padding-left: 24px;
    line-height: 1.2em;

    a {
      text-decoration: none
    }

    &.name {
      font-weight: bold;
      padding-left: 0;
      img {margin-right: 8px};
    }
  }
}

#header {
  text-align: center;

  h1 {
    font-size: 100px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 32px;
  }

  padding-bottom: 1.5em;
}

@include sticky-footer(2em);

#footer {
  text-align: center;
}
