body {
  max-width: 1280px;
  min-width: 960px;
  margin: 0 auto;
}

#user_box {
  position: absolute;
  left: 0;
  top: 0;

  padding: 6px;
  background-color: #e0e0e0;

  @include border-bottom-right-radius(10px);
  @include box-shadow(#777);

  .login {
    a { margin: 0 4px}
  }

  ul li {
    padding-left: 24px;
    line-height: 1.2em;

    a {
      text-decoration: none
    }

    &.name {
      font-weight: bold;
      padding-left: 0;
      img {margin-right: 8px};
    }
  }
}

#header {
  text-align: center;

  h1 {
    font-size: 100px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 32px;
    margin-bottom: .75em;
  }

  ul#menu {
    @include inline-block-list;
    margin: 0 auto;
    font-size: 1.5em;
    font-family: $serif_font;
    li {margin-bottom: 1em;}
  }

  margin-bottom: 1.5em;
}

@include sticky-footer(2em);

#footer {
  text-align: center;
}
