#content {
  #map {
    text-align: center;
  }

  .column {
    float: left;
    width: 33%;

    .column-insides {
      padding: 0 1em 0 1em;
      position: relative;

      .add_link {
        position: absolute;
        font-size: .8em;
        right: 1.25em;
        top:0;
        width: 6em;
        text-align: right;
        a{@include link-colors(#777);}
      }

      h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        margin-bottom: .75em;
      }
        
      .time {
        text-align: right;
        font-size: .8em;
        line-height: 1.875em;
        color: #777;
      }

      li.tweet {
        line-height: 1.5em;
        margin-bottom: 1.5em;
        img.avatar {
          float: left;
          margin-right: 8px;
          border: solid 1px #777;
        }
        a.author {
          text-decoration: none;
        }
      }

      li.blog_post {
        margin-bottom: 1.5em;
        a {
          text-decoration: none;
          font-size: 1.2em;
          line-height: 1.25em;
        }
        img.favicon {
          margin-right: 8px;
          vertical-align: middle;
        }
        .details {
          text-align: right;
          font-size: .8em;
          line-height: 1.875em;
          color: #777;
        }
      }

      li.job_offer {
        margin-bottom: 1.5em;
        line-height: 1.5em;

        .title {
          font-size: 1.2em;
          line-height: 1.25em;
          a {text-decoration: none}
        }

        .details {
          font-size: .9em;
          line-height: 1.67em;
          color: #777;
        }
      }

      .jooble {
        text-align: right;
        color: #777;
        font-size: .8em;
        img {vertical-align: bottom}
      }
    }
  }
}
