$serif_font: Georgia, "Times New Roman", serif;
$sans_font: Calibri, Segoe UI, Ubuntu, Myriad Pro, sans-serif;

body {
  font-family: $sans_font;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $serif_font;
}

h2 {
  font-size: 2em;
  margin-bottom: 1.5em;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
