!!! XML
%request
  %preferred_encoding utf-8
  %entity v
  %keywords{:only_position => 1}
    %or ruby rails
  %region
    %country 1
    %city 0
  %date{:type => 'new'} allday
  %msg_count 100
  %sort date
