%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf8'}
    =include_stylesheets :screen, :media => 'screen, projection'
    =include_stylesheets :print, :media => 'print'
    /[if IE]
      =include_stylesheets :ie, :media => 'screen, projection'
    /[if IE 6]
      =include_stylesheets :ie6, :media => 'screen, projection'

    -if params[:controller]=='main'
      %title Rubyhub — агрегатор украинской руби-сферы
      =display_meta_tags :reverse => true
    -else
      =display_meta_tags :site => 'Rubyhub', :separator => '—', :reverse => true

    =include_javascripts :common

    %link{:rel => 'Shortcut Icon', :href => '/favicon.ico'}

    =csrf_meta_tag
  %body
    =render 'html_assets/github'
    #root
      #user_box.css3
        -if current_user
          %ul
            %li.name
              =image_tag("providers/#{current_user.provider}.png", :size => '16x16')+current_user.name
            %li
              =link_to_unless_current 'Профиль', edit_user_path
            %li
              =link_to 'Выйти', signout_path
        -else
          .login
            Вход:
            =link_to image_tag('providers/open_id.png', :alt=>'OpenID', :size => '16x16'), '/auth/open_id', :title => 'Войти по OpenID'
            =link_to image_tag('providers/google.png', :alt=>'Google', :size => '16x16'), '/auth/google', :title => 'Войти учетной записью Google'
            =link_to image_tag('providers/twitter.png', :alt=>'Twitter', :size => '16x16'), '/auth/twitter', :title => 'Войти учетной записью Twitter'
      #header
        %h1 
          =link_to image_tag('logo.png', :alt => 'Rubyhub'), root_url
          Rubyhub
        %h2 Агрегатор украинской руби-сферы
        %ul#menu
          %li=link_to_unless_current 'Пульс', root_url
          %li &bull;
          %li=link_to_unless_current 'Карта', map_url
          %li &bull;
          %li=link_to 'Блог', 'http://leonid.shevtsov.me/ru/tags/rubyhub', :target => :blank
      #content
        =yield
      #root_footer
    #footer
      \&copy;
      2011
      =link_to 'Леонид Шевцов', 'http://leonid.shevtsov.me/ru', :target => :blank
    -if Rails.env.production?
      =render 'html_assets/google_analytics'
