%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf8'}
    =include_stylesheets :screen, :media => 'screen, projection'
    =include_stylesheets :print, :media => 'print'
    /[if IE]
      =include_stylesheets :ie, :media => 'screen, projection'
    /[if IE 6]
      =include_stylesheets :ie6, :media => 'screen, projection'

    -if params[:controller]=='main'
      =display_meta_tags :title => 'Rubyhub — агрегатор украинской руби-сферы', :reverse => true
    -else
      =display_meta_tags :site => 'Rubyhub', :separator => '—', :reverse => true

    =include_javascripts :common

    %link{:rel => 'Shortcut Icon', :href => '/favicon.ico'}

    =csrf_meta_tag
  %body
    =render 'html_assets/github'
    #root
      #header
        %h1 
          =image_tag 'logo.png', :alt => 'Rubyhub'
          Rubyhub
        %h2 Агрегатор украинской руби-сферы
      #content
        =yield
      #root_footer
    #footer
      \&copy;
      2011
      =link_to 'Леонид Шевцов', 'http://leonid.shevtsov.me/ru', :target => :blank
    -if Rails.env.production?
      =render 'html_assets/google_analytics'
